<div class="container">	
<!-- 	<style type="text/css">
		body {
			background-image: url("/static/imgs/aa7955ff95a0857ccad1acfe1836ae7f.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
	</style> -->
	<h2 class="text-primary">About Me :</h2><hr>
	<div class="row">
		<div class="col-sm-3">
			<img src="/static/imgs/vinod.jpg" id="img-me" class="img-thumbnail cursor-pointer img-responsive  img-rounded img-range-200" style="z-index: 1;position: fixed;"  >
		</div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-2">
					<label>Name :</label>					
				</div>
				<div class="col-sm-8">
					<p>PASUPUETI VINOD</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label>College :</label>					
				</div>
				<div class="col-sm-8">
					<p>Swetha Institute Of Technology and Science, Tirupati</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label>Course :</label>					
				</div>
				<div class="col-sm-8">
					<p>Master Of Technology,</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label>Branch :</label>					
				</div>
				<div class="col-sm-8">
					<p>Computer Science and Engineering,</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label>Summary :</label>					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<p>As I looked over the job skill and educational requirements included in your ad web development I realized your were talking about me. I would like to tell you why I believe I'm the person you're looking for. I possess technical ability and creativity both of which are necessary for success in the field. I understand the importance of working with a team and I use my strong interpersonal skills. I'm familiar with frontend development and web development .'As I was trained in frontend course and now am talken full-stack  by udacity i think I'm fit for Full Stack Developer. I had the ability to work consistently as I am hard working person.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label>GitHub Link :</label>					
				</div>
				<div class="col-sm-8">
					<p><a href="https://github.com/alexVinod" target="_tab">https://github.com/alexVinod</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<div class="col-sm-1">
				<div style="position:absolute; z-index: 1">
					<marquee direction="up">
						<img src="/static/imgs/ballon.png" style="width: 100px;height: 100px;">
					</marquee>		
				</div>
			</div>
		</div>
	</div><hr>
	<h2 class="text-info">About Udacity :</h2><hr>
	<div class="row">
		<div class="col-sm-3">
			<img src="/static/imgs/udacity.png" class="img-thumbnail img-responsive  img-rounded img-range-200" >
		</div>
		<div class="col-sm-8">
			<p><strong>Udacity</strong> is the best place to learn new tendring technologies, jobs for tomorrow. I have more love on technolgies to learn and upgrade myself. <strong>I have completed Front End Nanodegree Certification with ReactJS in our Udacity.</strong> </p>
			<div class="row">
				<div class="col-sm-2">
					<label>Front End   :</label>					
				</div>
				<div class="col-sm-8">
					<p><a href="#" data-toggle="modal" data-target="#myModal" > Front End Nanodegree Certificate </a><a href="https://in.udacity.com/course/front-end-web-developer-nanodegree--nd001" target="_tab" class="fas fa-link"  data-toggle="tooltip" title="Course Info"></a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label>Full - Stack   :</label>					
				</div>
				<div class="col-sm-8">
					<p><a href="#" > Learning Full Stack Nanodegree... </a><a href="https://in.udacity.com/course/full-stack-web-developer-nanodegree--nd004" target="_tab" class="fas fa-link" data-toggle="tooltip" title="Course Info"></a></p>
				</div>
			</div>			
		</div>
	</div><hr>

	<h2 class="text-info">About Coursera:</h2><hr>
	<div class="row">
		<div class="col-sm-3">
			<img src="/static/imgs/coursera.jpg" class="img-thumbnail img-responsive  img-rounded img-range-200" >
		</div>
		<div class="col-sm-8">
			<p><strong>Coursera</strong> provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.</p>
			<p><strong>Coursera</strong>  is the best place to learn new tendring technologies, jobs for tomorrow. I have more love on technolgies to learn and upgrade myself. <strong>I have completed Python For Everybody Certification with Real Time Experiences.</strong> </p>
			<div class="row">
				<div class="col-sm-2">
					<label>PY4E   :</label>					
				</div>
				<div class="col-sm-8">
					<p><a href="#" data-toggle="modal" data-target="#myModal2" > PY4E Certificate </a><a href="https://www.coursera.org/specializations/python" target="_tab" class="fas fa-link"  data-toggle="tooltip" title="Course Info"></a></p>
				</div>
			</div>
<!-- 			<div class="row">
				<div class="col-sm-2">
					<label>Full - Stack   :</label>					
				</div>
				<div class="col-sm-8">
					<p><a href="#" > Learning Full Stack Nanodegree... </a><a href="https://in.udacity.com/course/full-stack-web-developer-nanodegree--nd004" target="_tab" class="fas fa-link" data-toggle="tooltip" title="Course Info"></a></p>
				</div>
			</div>			 -->
		</div>
	</div><hr>

	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-body">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <img src="/static/imgs/frontEndNanodegree.JPG" class="img-responsive">
	        </div>	        
	      </div>	      
	    </div>
	</div>

	<div class="modal fade" id="myModal2" role="dialog">
	    <div class="modal-dialog">	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-body">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <img src="/static/imgs/py4eCertificate.JPG" class="img-responsive">
	        </div>	        
	      </div>	      
	    </div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();   
	});

	$("#img-me").mouseover(function(){
		$("#img-me").addClass("animated heartBeat");
	})

	$("#img-me").mouseleave(function(){
		$("#img-me").removeClass("animated heartBeat");
	})
</script>